annoy==1.17.0
beautifulsoup4==4.10.0
colour==0.1.5
dataclasses==0.6
datasets==1.17.0
duckling==1.8.0
flair==0.10
gensim
googleapis-common-protos==1.54.0
graphviz==0.19.1
grpcio-tools==1.43.0
hnswlib==0.5.2
imagecolor==1.2.1
kaggle==1.5.12
mysql-connector-python
nmslib==2.1.1
num2words==0.5.10
onnxruntime==1.10.0
openpyxl==3.0.9
pdfkit==1.0.0
phonenumbers==8.12.40
pycrypto==2.6.1
pygraphviz==1.7
PyPDF4==1.27.0
pytorch-lightning==1.5.7
pyzipper==0.3.5
simpleeval==0.9.11
skl2onnx==1.10.3
tf2onnx==1.9.3
toolz==0.11.2
wandb==0.12.9
wordcloud==1.8.1
words2num==0.2.3
yapf==0.32.0