chromedriver-binary
pause 
humanfriendly
appnope>=0.1.0
bcrypt>=3.1.7
cffi>=1.13.1
decorator>=4.4.0
dnspython>=1.15.0
Faker>=0.8.13
flake8>=3.7.8
Flask>=0.12.4
Flask-Bcrypt>=0.7.1
Flask-Cors>=3.0.3
Flask-JWT-Extended>=3.7.0
Flask-Login>=0.4.0
importlib-metadata>=0.23
itsdangerous>=1.1.0
jsonschema>=3.1.1
mccabe>=0.6.1
more-itertools>=7.2.0
nbconvert>=5.6.0
pluggy>=0.6.0
prompt-toolkit>=2.0.10
py>=1.8.0
pycodestyle>=2.5.0
pyflakes>=2.1.1
Pygments>=2.4.2
pymongo>=3.7.2
pyrsistent>=0.15.4
pytest>=3.3.0
pytest-flask>=0.11.0
python-dateutil>=2.8.0
pyzmq>=18.1.0
qtconsole>=4.5.5
six>=1.12.0
testpath>=0.4.2
text-unidecode>=1.2
mime 
xlearn
kaggle
dataset
openpyxl
fuzzywuzzy
nltk 
stopwordsiso
spacy
jhTAlib
statsmodels
# spacy[cuda101]