beautifulsoup4==4.9.3
colour==0.1.5
dataclasses==0.6
datasets==1.16.1
diagrams==0.21.1
graphviz==0.19
imagecolor==1.2.1
jieba==0.39
kaggle==1.5.12
mlprodict==0.8.1762
mysql-connector-python==8.0.24 
nmslib==2.1.1
omegaconf==2.1.1
lightgbm==3.3.2
line_profiler==3.5.1
netron==6.0.0
num2words==0.5.10
numpy==1.21.6
onnx==1.12.0
onnx-graphsurgeon==0.3.20
onnxconverter-common==1.12.2
onnxmltools==1.11.1
onnxruntime-gpu==1.12.0
skl2onnx==1.12
openpyxl==3.0.9
path==16.3.0
pdfkit==1.0.0
pipdeptree==2.2.0
pycrypto==2.6.1
pygraphviz==1.7
PyPDF4==1.27.0 
pyquickhelper==1.11.3697
pysubs2==0.2.4
pytorch_lightning==1.5.10
pyzipper==0.3.5
setproctitle==1.2.2
simpleeval==0.9.11
sklearn-crfsuite
toolz==0.11.2
xgboost==1.6.1
xlsxwriter==3.0.2
wandb==0.12.10
scipy==1.8.0
librosa==0.9.1
pydub==0.25.1
pyod==1.0.1
mingus==0.6.1
torchsummary==1.5.1
git-lfs==1.6